<nav class="navbar navbar-dark navbar-expand-md sticky-top">
    <a class="navbar-brand" routerLink="/">Stock Search</a>
    <button class="navbar-toggler navbar-toggler-right custom-toggler pr-2" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav text-right pr-2 ml-auto" routerLinkActive="active">
                <li class="nav-item">
                    <a class="button  nav-link" routerLink="/" routerLinkActiveOptions= "{exact: true}" autofocus>Search</a>
                </li>
                <li class="nav-item">
                    <a class="button nav-link" routerLink="/watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="button nav-link" routerLink="/portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
</nav>


