.buybutton{
  width: 50px;
  height: 35px;
  color: white;
  background-color: #4CAF50;
  border:none;
}

.buybutton[disabled]{
  background-color: #b5e6b7;
}

.buybuttonf{
  width: 50px;
  height: 35px;
  color: white;
  background-color: #1976D2;
  border:none;
}

.close:focus {
    outline: 0;
}

.buyinput{
    border-color: #80D8FF;
  box-shadow: 0 1px 1px #80D8FF inset, 0 0 8px #80D8FF;
  outline: 0 none;
}
