.spinner {
  position: fixed;
  left: 35%;
}

.holdbox{
  border: 1px solid #BDBDBD;
}

.subtitle{
  color: gray;
}

.topbox{
  background-color: #EEEEEE;
  cursor: pointer;
}

.botbox{
background-color: #EEEEEE;
}


.upcolor{
  color:green;
}

.downcolor{
  color:red;
}

.buybutton{
  width: 50px;
  height: 35px;
  color: white;
  background-color: #2196F3;
  border:none;

}
.sellbutton{
  width: 50px;
  height: 35px;
  color: white;
  background-color: red;
  border:none;

}

.emtalert{
  margin-top: 5%;
  text-align: center;
}
